<h1 class="header"><%= @topic.title %></h1>

<span>
  <%= link "Edit", to: Routes.topic_path(@conn, :edit, @topic), class: "waves-effect waves-light btn-large" %>
</span>
<span>
  <%= link "Back", to: Routes.topic_path(@conn, :index), class: "waves-effect waves-light btn-flat  btn-large" %>
</span>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    window.joinDiscussion(<%= @topic.id %>);
  });
</script>
